# Get Iris Dataset

Creates and stores Iris dataset.

## Acknowledgements and Citations:
Data Creator(s):
- R.A. Fisher

Data Donor(s):
- Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)

Data Source(s):
- scikit-learn: https://scikit-learn.org/stable/datasets/toy_dataset.html#iris-dataset

In [20]:
import os

import pandas as pd
from sklearn.datasets import load_iris

In [2]:
# load iris dataset and meta
iris_data = load_iris(as_frame=True)

# use shorthand var for iris dataframe
df = iris_data["frame"]
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [15]:
df["species"] = df["target"].apply(lambda x: iris_data["target_names"][x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [16]:
# save the raw dataset for data version control and reproducibility
df.to_parquet("./data/iris.parquet")

In [17]:
# ensure we have a local remote to store the data using dvc
!python -m dvc remote add -d localremote /tmp/dvcstore

Setting 'localremote' as a default remote.
ERROR: configuration error - config file error: remote 'localremote' already exists. Use `-f|--force` to overwrite it.

In [18]:
# add the dataset using dvc
!python -m dvc add data/iris.parquet

⠋ Checking graph                                                   ⠋ Collecting stages from the workspace
Adding...
!
  0% Checking cache in '/workdir/.dvc/cache'|        |0/? [00:00<?,    ?files/s]

!
  0%|          |Transferring                          0/1 [00:00<?,     ?file/s]

!
  0%|          |.QyGMZTVCxu7wmY6A4ZFLWw.tmp        0.00/? [00:00<?,        ?B/s]
  0%|          |.QyGMZTVCxu7wmY6A4ZFLWw.tmp     0.00/4.00 [00:00<?,        ?B/s]

!
  0%|          |c225a4302d59f2208d3197c79971b2     0.00/? [00:00<?,        ?B/s]
  0%|          |c225a4302d59f2208d3197c79971b2 0.00/6.10k [00:00<?,        ?B/s]
100% Adding...|████████████████████████████████████████|1/1 [00:00,  3.66file/s]

To track the changes with git, run:

    git add data/iris.parquet.dvc

To enable auto staging, run:

	dvc config core.autostage true

In [19]:
# push the dataset using dvc
!python -m dvc push

  0% Transferring|                                   |0/1 [00:00<?,     ?file/s]
!
  0%|          |c225a4302d59f2208d3197c79971b2     0.00/? [00:00<?,        ?B/s]
  0%|          |c225a4302d59f2208d3197c79971b2 0.00/6.10k [00:00<?,        ?B/s]
1 file pushed

In [21]:
# remove the dataset from export destination for demonstrational purposes
os.remove("./data/iris.parquet")